body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  margin: 0;
}

#hero {
  width: 626px;
  margin: 64px auto 30px;
}

#hero img {
  margin-bottom: 32px;
}

header {
  width: 540px;
  margin: 0 auto 64px;
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;

  margin-bottom: 32px;
}

h1 span {
  font-weight: 700;
  color: #ee24ff;

  margin-bottom: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  line-height: 22px;
  flex-shrink: 0;
  font-size: 15px;
  margin-bottom: 32px;
}

p strong {
  color: #3f3d56;
  font-weight: 700;
}

a {
  color: #3f3d56;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

#footer {
  /* display: flex; */
}
#footer a + a {
  margin-left: 42px;
}
#footer img {
  margin-top: 40.83px;
  bottom: 0;
}

#line {
  width: 391px;
  margin: 0 auto 16px;

  border: 1px solid #eceff2;
}
